*{
    margin-top:0px;
    padding: 0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;

}

.header {
    padding:30px;
    font-size:80px;
    color: darkkhaki;
    font-family: Edwardian Script ITC;
}

.div {
 
    background-image: url("dark.jpg");
    text-align: center;
    border: 2px solid;
    color: pink;
    height: 250px;

}

h2 {
    color: darkseagreen;
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
}
.snav{
    width:25%;
    height:420px;
    background-color:cadetblue;
}
.tab{
    font-size:30px;
    padding:40px;
    font-weight:bolder;
}
.nav {
    
    background-color:darkcyan;
    height: 400px;
    width: 100%;
    padding: 10px;
    margin-top: 65px;
    
}
.image {
    float: right;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
